.row
  each games
    .col-md-4.col-sm-6
      .thumbnail
        .container-fluid
          h2
            .label.label-info.player-name.player-1 player1
            .versus VS
            .label.label-danger.player-name.player-2 player2
        .caption
          h3 Label
          p Description
